/* Police personnalisée */
.no-translate {
    /* Style optionnel pour les éléments non traduits */
}

@font-face {
    font-family: 'MontserratBlack';
    src: url('fonts/Montserrat-Black.ttf') format('truetype');
}

/* Style général */
body {
    font-family: 'MontserratBlack', Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

/* Conteneur principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Style du texte du logo */
.logo h1 {
    font-size: 6rem; /* Taille du mot "VOXEL" */
    margin: 0;
    line-height: 1;
	color: #fff; /* Blanc pour "VOXEL" */
}

.logo h2 {
    font-size: 2rem; /* Taille du mot "STUDIOS" */
    margin: 0;
    line-height: 0.2;
	color: #FFD700; /* Jaune pour "STUDIOS" */
	margin-bottom: 60px; /* Augmenter l'espace sous STUDIOS */
}

/* Conteneur des icônes */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacement entre les icônes */
    margin-top: 40px;
}

/* Style des liens et des icônes */
.social-icons a {
    display: inline-block;
    width: 40px; /* Taille des icônes */
    height: 40px;
}

.social-icons img {
    width: 100%; /* Adapter l'image à la taille du conteneur */
    height: auto;
    transition: transform 0.3s ease;
}

/* Effet au survol */
.social-icons a:hover img {
    transform: scale(1.2); /* Zoom au survol */
}
.social-icons img {
    filter: none !important; /* Annule les effets du navigateur */
    display: inline-block;
    width: 40px; /* Taille des icônes */
    height: auto;
}


